.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

.App-header {  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin-bottom: 6rem;
}

.App-link {
  color: #61dafb;
}

.App-main {
  max-width: 75%;
  margin: auto;
}